html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: red;
}

#inventory-container {
  overflow-y: auto;
  width: auto;
  height: 600px; 
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 0;
  position: absolute;
  right: 100px; 
  top: 50px;
  display: flex;
  flex-direction: column;
}

.inventory-item {
  box-sizing: border-box;
  padding: 10px; 
  font: 50px;
  color: white;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff; 
}

.inventory-item img {
  width: 60px; 
  height: 60px; 
  vertical-align: middle;
  margin-right: 5px;
}

/* scrollbar container */
#inventory-container::-webkit-scrollbar {
  width: 16px; 
  background-color: #000; 
}

#inventory-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8); 
}

#inventory-container::-webkit-scrollbar-thumb {
  background-color: white; 
  border: 4px solid #000; 
  border-radius: 8px;
}

#inventory-container::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}