astrobeasts/__pycache__/
__pycache__/main.cpython-311.pyc
astrobeasts/__pycache__/__init__.cpython-311.pyc
astrobeasts/__pycache__/__init__.cpython-311.pyc
astrobeasts/__pycache__/__init__.cpython-311.pyc
*.pyc
